<% extend('layout') %>

<div class="row">
        <div class="col-md-4 stretch-card grid-margin">
          <div class="card bg-gradient-danger border-0 text-white p-3">
            <div class="card-body">
              <div class="d-flex align-items-start">
                <i class="mdi mdi-currency-usd mdi-48px"></i>
                <div class="ml-4">
                  <h2 class="mb-2">53,000</h2>
                  <h4 class="mb-0">Total Income</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
          <div class="card bg-gradient-info border-0 text-white p-3">
            <div class="card-body">
              <div class="d-flex align-items-start">
                <i class="mdi mdi-cards-outline mdi-48px"></i>
                <div class="ml-4">
                  <h2 class="mb-2">67,045</h2>
                  <h4 class="mb-0">Total Expense</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
          <div class="card bg-gradient-success border-0 text-white p-3">
            <div class="card-body">
              <div class="d-flex align-items-start">
                <i class="mdi mdi-chart-line mdi-48px"></i>
                <div class="ml-4">
                  <h2 class="mb-2">83,900</h2>
                  <h4 class="mb-0">Total Visit</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>