<% extend('layout') %>

<!-- List Of Size  -->
<div class="card">
  <div class="card-body" id="bodyTableSize">
    <button class="btn btn-sm btn-outline-success mb-3" id="btnAddSize" data-toggle="modal"
      data-target="#modal-add-update-size">Thêm mới</button>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="tableSize" class="table">
            <thead>
              <tr>
                <th>Tên Size</th>
                <th>Loại Size</th>
                <th>Chú thích</th>
                <th>Trạng thái</th>
                <th>Chức năng</th>
              </tr>
            </thead>
            <tbody>
              <% sizes.forEach(function(size) { %>
              <tr>
                <td> <%= size.name %> </td>
                <td> <%= size.type %> </td>
                <td> <%= size.description %> </td>
                <td>
                  <label class="badge badge-success"> <%= size.status %> </label>
                <td>
                  <button class="btn btn-sm btn-outline-primary mr-1 btnUpdateSize" 
                  data-sizeId="<%= size.id %>" data-toggle="modal" data-target="#modal-add-update-size">
                    Cập nhật</button>
                  <button class="btn btn-sm btn-outline-danger btnDeleteSize" data-sizeId="<%= size.id %>"
                    data-toggle="modal" data-target="#modal-delete-size">Xóa</button>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End List Of Size  -->

<!-- Create Or Update Modal -->
<div class="col-md-4 grid-margin stretch-card">
  <div class="modal fade" id="modal-add-update-size" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalTitle"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="resultQuerySize alert hidden">
            <strong class="lblResultQuerySize"></strong>
          </div>

          <form id="addOrUpdateSizeForm">
            <div class="form-group">
              <label for="name" class="col-form-label">Tên Size:</label>
              <input type="text" name="name" id="name" class="form-control form-control-sm"  />
            </div>
            <div class="form-group">
              <label for="type" class="col-form-label">Loại Size:</label>
              <select name="type" id="type" class="form-control">
                <option selected value="1">Áo</option>
                <option value="2">Quần</option>
                <option value="3">Balo</option>
                <option value="4">Giày</option>
              </select>
            </div>
            <div class="form-group">
              <label for="status" class="col-form-label">Trạng thái:</label>
              <select name="status" id="status" class="form-control">
                <option selected value="1">Tồn tại</option>
                <option value="0">Không tồn tại</option>
              </select>
            </div>
            <div class="form-group">
              <label for="description" class="col-form-label">Chú thích:</label>
              <input class="form-control form-control-sm" type="text" id="description" name="description"></input>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm" id="saveSize">Lưu</button>
          <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Đóng</button>
          <input type="hidden" id="updateSizeId">
          <input type="hidden" id="action">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Create Or Update Modal -->

<!-- Delete Modal -->
<div class="col-md-6 grid-margin stretch-card">
  <div class="modal fade" id="modal-delete-size" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xóa ??</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="resultQuerySize alert hidden">
            <strong class="lblResultQuerySize"></strong>
          </div>
          <p>Bạn chắc chắn muốn xóa ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-danger" id="btnConfirmDelete">Xóa </button>
          <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Đóng</button>
          <input type="hidden" id="deleteSizeId">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Delete Modal -->


