<% extend('layout') %>
<div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Nhập mã sản phẩm hoặc tên sản phẩm" aria-label="Nhập mã sản phẩm hoặc tên sản phẩm">
          <div class="input-group-append">
            <button class="btn btn-sm btn-gradient-primary" type="button">Tìm kiếm</button>
          </div>
        </div>
</div>    